/* 1. Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 2. Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1e2330;
}

/* make the list items */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}
/* links inside the menu */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* the register button */
.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #3b82f6; 
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: bold;
}
/* hero section*/

.hero-section {
    /*background images */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; 
    
    /*Flexbox context */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content box inside the hero section */
.hero-content {
    text-align: center; 
    color: white;
    max-width: 800px; 
    padding: 0 20px; 
}

/*  main heading */
.hero-content h1 {
    font-size: 56px; 
    margin-bottom: 20px;
}

/* the paragraph */
.hero-content p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
    color: #e5e7eb; 
}