/* 1. Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 2. Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0b0f19;
}

/* make the list items */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}
/* links inside the menu */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* the register button */
.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #3b82f6; 
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: bold;
}